In [23]:
tuple = ('a','b','c','d')
print(tuple)

('a', 'b', 'c', 'd')

In [24]:
tuple[2]
tuple[-1]

'd'

In [25]:
tuple[0:2] #slicing

('a', 'b')

In [26]:
t1 = (1,2,[3,4]) #list inside tuple
t1

(1, 2, [3, 4])

In [27]:
t1[2]

[3, 4]

In [28]:
t1[2][0]

3

In [29]:
tuple+t1    #Concatenation

('a', 'b', 'c', 'd', 1, 2, [3, 4])

In [30]:
t2 = tuple+t1
t2

('a', 'b', 'c', 'd', 1, 2, [3, 4])

In [12]:
del t2

In [31]:
t3 = ((1,2,3),(4,5))

t3

((1, 2, 3), (4, 5))

In [32]:
2 in t3

False

In [33]:
#set

set1 = {1,2,3,4,5,6}
type(set1)

set

In [19]:
set1

{1, 2, 3, 4, 5, 6}

In [20]:
set2 = {50,10,40,30,20,20}
set2

{10, 20, 30, 40, 50}

In [18]:
l1 = [1,2,3]

In [20]:
set2 = set(l1)

set2

{1, 2, 3}

In [22]:
set2.update([4,5])

set2

{1, 2, 3, 4, 5}

In [29]:
set2.remove(2)

In [30]:
set2

{1, 3, 4}

In [34]:
s1 = {1,2,3,4}
s2 = {4,5,6}

s1|s2 #union

{1, 2, 3, 4, 5, 6}

In [35]:
s1 & s2 #intersection

{4}

In [36]:
s1 - s2

{1, 2, 3}

In [37]:
for letter in set('AII'):
    print(letter)

A
I

In [41]:
s5 = set("AI") 
s5

{'A', 'I'}

In [42]:
#dictionary

dict1 = {1:'Dipto',2:'Prodipto'}

In [43]:
type(dict1)

dict

In [44]:
dict1[1]

'Dipto'

In [45]:
dict1[2] = 'CSE'

In [46]:
dict1

{1: 'Dipto', 2: 'CSE'}

In [47]:
del dict1[2]

In [48]:
dict1

{1: 'Dipto'}

In [49]:
dict1[2] = 'Prodipto'

In [50]:
dict1

{1: 'Dipto', 2: 'Prodipto'}

In [51]:
#function

def add_numbers(n1,n2):
    sum = n1+n2
    return sum

result = add_numbers(10,20)
print("Sum = ",result)

Sum =  30

In [52]:
def add_numbers():
    n1 = int(input("Enter num1: "))
    n2 = int(input("Enter num2: "))
    sum = n1+n2
    return sum

result = add_numbers()
print("Sum = ",result)

Enter num1: 1
Enter num2: 2
Sum =  3

In [16]:
class Number:
    def add(self,a,b):
        return a+b
    
n1 = Number()
n2 = Number()

sum = n1.add(10,20)
sum2 = n2.add(30,40)

print(sum)
print(sum2)

30
70

In [58]:
#Problem 1: Write a python program to find the factorial of a number. (Input the number from the user)

n = int(input("Enter a number: "))

fact = 1

for i in range(n,1,-1):
    fact = fact*i
    
print("Factorial of ",n,"is = ",fact)

Enter a number: 4
Factorial of  4 is =  24

In [63]:
#Problem 2: Write a program in python to check if your input number is odd or even. (Use function)
 
def EvenOdd():
    n = int(input("Enter a number: "))
    if n%2==0:
        return 1
    else:
        return 0
    
result = EvenOdd()

if result == 1:
    print("Even")
    
else:
    print("Odd")

Enter a number: 16
Even

In [64]:
#Problem 3: Write a program in python to find the summation of numbers 1 to 100. (Use loop)

sum = 0

for i in range(1,101,1):
    sum = sum+i
    
print("Sum = ",sum)

Sum =  5050

In [68]:
#Problem 4: Input temperature from the user in celsius and convert it into Fahrenheit. (Use function)

def temperature():
    cel = float(input("Enter temperature in celcius: "))
    far = (1.8) * cel + 32
    return far

faren = temperature()

print("Farenheit = ",faren)

Enter temperature in celcius: 34
Farenheit =  93.2

In [75]:
#Problem 5: An user would input the length of three sides of a triangle and give the area of that triangle as output.(Use function)

import math

def area():
    s1 = float(input("Enter side 1: "))
    s2 = float(input("Enter side 2: "))
    s3 = float(input("Enter side 3: "))
    
    p = (s1+s2+s3)/2
    
    a = p*(p-s1)*(p-s2)*(p-s3)
    
    area = math.sqrt(a)
    return area

Ar = area()

print("Area = ",Ar)

Enter side 1: 24
Enter side 2: 30
Enter side 3: 18
Area =  216.0