In [1]:
print((10 - 4) * 2 -1)

11

In [2]:
str1 = 'DIU'
print (str1 * 5)

DIUDIUDIUDIUDIU

In [3]:
a=2.55
b=5
sum=a+b
print (type(sum))

<class 'float'>

In [4]:
str1 = "Summer"
for s in str1:
       if s=='m':
             print(s)

m
m

In [5]:
print(not (5==5))

False

In [6]:
n=4
i=0
while i <= n:
        i +=1
print(i)

5

In [1]:
x = 5
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [8]:
str1= '4'
str2= '3'
B= str1+str2
print(B)

43

In [9]:
print("Hello"+ " " "World")

Hello World